git-filter-repo==2.47.0
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cufile==1.15.1.6
msgpack==1.2.1
typing-inspection==0.4.2
nvidia-cuda-runtime==13.0.96
nvidia-nvjitlink==13.0.88
sympy==1.14.0
typing_extensions==4.15.0
numpy==2.4.6
protobuf==7.35.1
nvidia-nccl-cu13==2.29.7
safetensors==0.7.0
soxr==1.1.0
nvidia-cudnn-cu13==9.20.0.48
scipy==1.18.0
pydantic==2.13.4
tokenizers==0.22.2
nvidia-cufft==12.0.0.61
regex==2026.5.9
cuda-toolkit==13.0.2
annotated-doc==0.0.4
cffi==2.0.0
numba==0.65.1
peft==0.19.1
decorator==5.3.1
nvidia-nvshmem-cu13==3.4.5
triton==3.7.0
nvidia-cuda-nvrtc==13.0.88
click==8.4.1
pooch==1.9.0
pydantic_core==2.46.4
soundfile==0.13.1
huggingface_hub==1.21.0
audioread==3.1.0
joblib==1.5.3
pycparser==3.0
torch==2.12.0
nvidia-curand==10.4.0.35
wandb==0.27.2
nvidia-cusolver==12.0.4.66
accelerate==1.13.0
shellingham==1.5.4
lazy-loader==0.5
narwhals==2.22.1
httpcore==1.0.9
scikit-learn==1.9.0
typer==0.25.1
threadpoolctl==3.6.0
pip==26.1.2
h11==0.16.0
platformdirs==4.10.0
sentry-sdk==2.62.0
llvmlite==0.47.0
hf-xet==1.5.1
nvidia-cusparse==12.6.3.3
cuda-bindings==13.3.1
httpx==0.28.1
cuda-pathfinder==1.5.5
nvidia-nvtx==13.0.85
tqdm==4.68.3
transformers==5.9.0
nvidia-cusparselt-cu13==0.8.1
rich==15.0.0
resampy==0.4.3
librosa==0.11.0
hyperlink==21.0.0
pillow==10.3.0
numexpr==2.8.7
jellyfish==1.0.1
sphinxcontrib-devhelp==1.0.2
pkce==1.0.3
itsdangerous==2.2.0
SQLAlchemy==2.0.30
param==2.1.0
ujson==5.10.0
threadpoolctl==2.2.0
jsonpatch==1.33
mypy==1.10.0
llvmlite==0.42.0
ipykernel==6.28.0
tqdm==4.66.4
jupyter_core==5.7.2
xarray==2023.6.0
pylint-venv==3.0.3
colorcet==3.1.0
astroid==2.14.2
sortedcontainers==2.4.0
ipython==8.25.0
Scrapy==2.11.1
semver==3.0.2
frozenlist==1.4.0
flake8==7.0.0
rpds-py==0.10.6
multidict==6.0.4
pydeck==0.8.0
widgetsnbextension==3.6.6
entrypoints==0.4
mkl-random==1.2.4
colorama==0.4.6
aiobotocore==2.12.3
zope.interface==5.4.0
nbconvert==7.10.0
bleach==4.1.0
executing==0.8.3
tomli==2.0.1
conda_index==0.5.0
pexpect==4.8.0
patsy==0.5.6
cycler==0.11.0
w3lib==1.21.0
comm==0.2.1
plotly==5.22.0
Rtree==1.0.1
pyparsing==3.0.9
tables==3.9.2
truststore==0.8.0
pywavelets==1.5.0
conda-package-handling==2.3.0
nbformat==5.9.2
fastjsonschema==2.16.2
queuelib==1.6.2
annotated-types==0.6.0
Protego==0.1.16
gitdb==4.0.7
tomlkit==0.11.1
text-unidecode==1.3
openpyxl==3.1.2
sphinxcontrib-applehelp==1.0.2
pyarrow==14.0.2
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
imageio==2.33.1
python-json-logger==2.0.7
libmambapy==1.5.8
et-xmlfile==1.1.0
jedi==0.18.1
yapf==0.40.2
terminado==0.17.1
PyYAML==6.0.1
aiohttp==3.9.5
conda-build==24.5.1
altair==5.0.1
MarkupSafe==2.1.3
pydantic_core==2.14.6
black==24.4.2
aioitertools==0.7.1
Markdown==3.4.1
tinycss2==1.2.1
smart-open==5.2.1
distributed==2024.5.0
attrs==23.1.0
dask-expr==1.1.0
pycurl==7.45.2
regex==2023.10.3
lazy_loader==0.4
python-dotenv==0.21.0
binaryornot==0.4.4
requests-file==1.5.1
three-merge==0.1.1
wurlitzer==3.0.2
smmap==4.0.0
pycparser==2.21
python-lsp-jsonrpc==1.1.2
pathspec==0.10.3
defusedxml==0.7.1
packaging==23.2
wheel==0.43.0
pytest==7.4.4
jaraco.classes==3.2.1
ipywidgets==7.8.1
conda==24.5.0
inflection==0.5.1
prometheus-client==0.14.1
seaborn==0.13.2
click==8.1.7
fonttools==4.51.0
stack-data==0.2.0
mkl-fft==1.3.8
nest-asyncio==1.6.0
zstandard==0.22.0
keyring==24.3.1
pyasn1==0.4.8
unicodedata2==15.1.0
markdown-it-py==2.2.0
streamlit==1.32.0
qstylizer==0.2.2
numpydoc==1.7.0
iniconfig==1.1.1
jupyter-events==0.10.0
Brotli==1.0.9
idna==3.7
anaconda-client==1.12.3
anaconda-catalogs==0.2.0
parsel==1.8.1
fsspec==2024.3.1
protobuf==3.20.3
Unidecode==1.2.0
uc-micro-py==1.0.1
cffi==1.16.0
constantly==23.10.4
py-cpuinfo==9.0.0
scikit-image==0.23.2
mkl-service==2.4.0
docstring-to-markdown==0.11
dask==2024.5.0
jupyter_server==2.14.1
distro==1.9.0
python-snappy==0.6.1
webencodings==0.5.1
matplotlib==3.8.4
psutil==5.9.0
referencing==0.30.2
diff-match-patch==20200713
jupyterlab_server==2.25.1
tabulate==0.9.0
toolz==0.12.0
Flask==3.0.3
zipp==3.17.0
partd==1.4.1
python-lsp-server==1.10.0
jupyter_client==8.6.0
Twisted==23.10.0
json5==0.9.6
docutils==0.18.1
jsonpointer==2.1
ply==3.11
gensim==4.3.2
rich==13.3.5
GitPython==3.1.37
jsonschema==4.19.2
tzdata==2023.3
locket==1.0.0
matplotlib-inline==0.1.6
botocore==1.34.69
notebook==7.0.8
spyder-kernels==2.5.0
jupyter==1.0.0
cachetools==5.3.3
QtPy==2.4.1
pkginfo==1.10.0
arrow==1.2.3
anyio==4.2.0
incremental==22.10.0
ruamel-yaml-conda==0.17.21
sniffio==1.3.0
jmespath==1.0.1
menuinst==2.1.1
itemloaders==1.1.0
pluggy==1.0.0
rope==1.12.0
debugpy==1.6.7
pure-eval==0.2.2
astropy==6.1.0
yarl==1.9.3
intervaltree==3.1.0
frozendict==2.4.2
pyxdg==0.27
mypy-extensions==1.0.0
pyflakes==3.2.0
lxml==5.2.1
dill==0.3.8
qtconsole==5.5.1
archspec==0.2.3
jupyterlab-widgets==1.0.0
isort==5.13.2
intake==0.7.0
tifffile==2023.4.12
pandas==2.2.2
traitlets==5.14.3
pyerfa==2.0.1.4
linkify-it-py==2.0.0
Send2Trash==1.8.2
alabaster==0.7.16
conda-repo-cli==1.0.88
rfc3986-validator==0.1.1
jeepney==0.7.1
rfc3339-validator==0.1.4
greenlet==3.0.1
argon2-cffi==21.3.0
pydantic==2.5.3
pyct==0.5.0
imagecodecs==2023.1.23
ptyprocess==0.7.0
pandocfilters==1.5.0
overrides==7.4.0
service-identity==18.1.0
mdit-py-plugins==0.3.0
Pygments==2.15.1
Jinja2==3.1.4
HeapDict==1.0.1
numba==0.59.1
pycodestyle==2.11.1
itemadapter==0.3.0
conda-content-trust==0.2.0
contourpy==1.2.0
scikit-learn==1.4.2
more-itertools==10.1.0
requests==2.32.2
lckr_jupyterlab_variableinspector==3.1.0
sphinxcontrib-serializinghtml==1.1.10
mccabe==0.7.0
networkx==3.2.1
platformdirs==3.10.0
holoviews==1.19.0
conda-token==0.5.0+1.g2209e04
lmdb==1.4.1
anaconda-project==0.11.1
PyJWT==2.8.0
Babel==2.11.0
urllib3==2.2.2
sympy==1.12
python-lsp-black==2.0.0
pytoolconfig==1.2.6
autopep8==2.0.4
h5py==3.11.0
aiosignal==1.2.0
spyder==5.5.1
jupyter_server_terminals==0.4.4
websocket-client==1.8.0
hvplot==0.10.0
mpmath==1.3.0
datashader==0.16.2
pyviz_comms==3.0.2
PyQt5==5.15.10
importlib-metadata==7.0.1
PySocks==1.7.1
async-lru==2.0.4
toml==0.10.2
asttokens==2.0.5
snowballstemmer==2.2.0
SecretStorage==3.3.1
lazy-object-proxy==1.10.0
watchdog==4.0.1
jupyter-lsp==2.2.0
wcwidth==0.2.5
conda-libmamba-solver==24.1.0
kiwisolver==1.4.4
atomicwrites==1.4.0
lz4==4.3.2
argon2-cffi-bindings==21.2.0
python-dateutil==2.9.0.post0
QtAwesome==1.2.2
beautifulsoup4==4.12.3
Automat==20.2.0
conda-pack==0.7.1
multipledispatch==0.6.0
scipy==1.13.1
tornado==6.4.1
zict==3.0.0
ruamel.yaml==0.17.21
anaconda-cloud-auth==0.5.1
tblib==1.7.0
anaconda-anon-usage==0.4.4
pycosat==0.6.6
anaconda-navigator==2.6.0
astropy-iers-data==0.2024.6.3.0.31.14
soupsieve==2.5
nbclient==0.8.0
pytz==2024.1
statsmodels==0.14.2
cloudpickle==2.2.1
PyQtWebEngine==5.15.6
pyodbc==5.0.1
chardet==4.0.0
PyQt5-sip==12.13.0
imbalanced-learn==0.12.3
cssselect==1.2.0
cookiecutter==2.6.0
bokeh==3.4.1
tenacity==8.2.2
charset-normalizer==2.0.4
cryptography==42.0.5
parso==0.8.3
Werkzeug==3.0.3
jupyterlab==4.0.11
nltk==3.8.1
sphinxcontrib-htmlhelp==2.0.0
QDarkStyle==3.2.3
pip==24.0
pickleshare==0.7.5
numpy==1.26.4
jsonschema-specifications==2023.7.1
wrapt==1.14.1
msgpack==1.0.3
mdurl==0.1.0
jupyter-console==6.6.3
sphinxcontrib-jsmath==1.0.1
pyzmq==25.1.2
mistune==2.0.4
prompt-toolkit==3.0.43
six==1.16.0
sip==6.7.12
Bottleneck==1.3.7
PyDispatcher==2.0.5
python-slugify==5.0.2
certifi==2024.6.2
joblib==1.4.2
filelock==3.13.1
cytoolz==0.12.2
notebook_shim==0.2.3
textdistance==4.2.1
navigator-updater==0.5.1
Sphinx==7.3.7
blinker==1.6.2
whatthepatch==1.0.2
jupyterlab-pygments==0.1.2
ipython-genutils==0.2.0
tldextract==3.2.0
pyOpenSSL==24.0.0
pylint==2.16.2
decorator==5.1.1
typing_extensions==4.11.0
imagesize==1.4.1
bcrypt==3.2.0
boltons==23.0.0
sphinxcontrib-qthelp==1.0.3
conda_package_streaming==0.10.0
pydocstyle==6.3.0
libarchive-c==2.9
s3fs==2024.3.1
xyzservices==2022.9.0
setuptools==69.5.1
panel==1.4.4
requests-toolbelt==1.0.0
appdirs==1.4.4
